.footer {
    background-color: whitesmoke;
    position:relative;
    bottom:0;
    width: 100%;
    display: flex;
    align-content: center;
    /* padding: 5px; */
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

.footer-contact {
    display: flex;
}

.social {
    color: black
}

.social-icon{
    margin-left: 10px;
}

.author{
    margin-left: 10px;
}